<mat-card-subtitle>Listado de proveedores </mat-card-subtitle>
@if (supplierObservable|async) {
<div class="container wrap">
  @for( supplier of suppliers; track supplier.id) {
  <app-supplier-card [supplier]="supplier"></app-supplier-card>
  } @empty {
  <span
    >No hay proveedores. Por favor crea uno en el botón "Nuevo Proveedor"</span
  >
  }
</div>
} @else {
<loading-bar></loading-bar>
}
<mat-card-actions align="end">
  <button mat-stroked-button [routerLink]="['/suppliers/new']">
    Nuevo Proveedor
  </button>
</mat-card-actions>
